<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <authentication mode="Forms" />
    <roleManager cacheRolesInCookie="true" defaultProvider="MyUser" enabled="true">
      <providers>
        <clear />
        <add name="MyUser" type="Mpi_web.App_Code.MyUser" />
      </providers>
    </roleManager>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear />
        <add name="MyMembershipProvider" type="Mpi_web.App_Code.MyMembershipProvider" connectionStringName="Baza2Context" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="Baza2Context" connectionString="metadata=res://*/baza.csdl|res://*/baza.ssdl|res://*/baza.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql2.freesqldatabase.com;user id=sql29880;password=pE4%eF9*;persist security info=True;database=sql29880&quot;"
      providerName="System.Data.EntityClient" />
    <add name="sql29880ConnectionString" connectionString="server=sql2.freesqldatabase.com;User Id=sql29880;password=pE4%eF9*;Persist Security Info=True;database=sql29880"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>